html {
    font-size: 2vw;
}

body {
    color: rgba(255, 0, 0, 40%);
    /*color*/
}

.input_class {
    width: 100%;
}

/*h1 {
    font-size: 1em;
}*/

h2,
h1 {
    font-size: 1rem;
}

#myid {
    background-color: aqua;
    display: inline-block;
}

* {
    border: solid 1px;
}